.modal-overlay {
    background-color: rgba(18, 18, 20, 0.5);
  
    position: fixed;
    top: 0;
  
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .modal-content {
    background-color: white;
    width: 300px;
    height: 330px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
  }

  .modal-content > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-content > div > span {
    cursor: pointer;
  }

  .modal-content > form {
    display: flex;
    flex-direction: column;
  }

  .modal-content > form > select {
    padding: 0 5px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #F2F2F2;
    cursor: pointer;
  }

  .inputsBox {
    display: flex;
    align-items: center;
  }

  .inputsBox > input {
    background: #F2F2F2;
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 30px;
  }

  label {
    margin: 10px;
  }

  .cancelBtn {
    width: 119px;
    height: 41px;
    border: 1px solid #7D02DD;
    border-radius: 15px;
    color: #7D02DD;
    margin-right: 40px;
  }

  .registerBtn {
    width: 119px;
    height: 41px;
    background-color: #7D02DD;
    color: white;
    border: none;
    border-radius: 15px;
  }

  .errorMsg {
    font-size: 10px;
  }

  button {
    cursor: pointer;
  }